.background-red{
    background-color: red;
}

.background-green{
    background-color: green;
}

.background-blue{
    background-color: blue;
}

.background-yellow{
    background-color: yellow;
}

.background-purple{
    background-color: purple;
}